<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {%- endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page -}}
      {%- endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {{ content_for_header }}
    {% render 'pzaz-fonts' %}
    <link href="{{ 'base.css' | asset_url }}"rel="stylesheet"type="text/css"media="all">
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

    <body>
      {% comment %}
      <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
      </a>
      {% endcomment %}

      {% section 'pzaz_cart' %}

      <main
        id="MainContent"
        class="content-for-layout focus-none"
        role="main"
        tabindex="-1">
        {% section 'pzaz_header' %}
        <div class="cart-overlay"></div>
        {{ content_for_layout }}
        {% section 'pzaz_footer' %}
      </main>

      <ul hidden>
        <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
        <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
      </ul>

      <script>
        window.shopUrl = '{{ request.origin }}';
        window.routes = {
          cart_add_url: '{{ routes.cart_add_url }}',
          cart_change_url: '{{ routes.cart_change_url }}',
          cart_update_url: '{{ routes.cart_update_url }}',
          cart_url: '{{ routes.cart_url }}'
        };

        window.cartStrings = {
          error: `{{ 'sections.cart.cart_error' | t }}`,
          quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
        };

        window.variantStrings = {
          addToCart: `{{ 'products.product.add_to_cart' | t }}`,
          soldOut: `{{ 'products.product.sold_out' | t }}`,
          unavailable: `{{ 'products.product.unavailable' | t }}`,
          unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`
        };

        window.accessibilityStrings = {
          imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
          shareSuccess: `{{ 'general.share.success_message' | t }}`,
          pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
          playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`
        };
      </script>

      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"
        integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"
        integrity="sha512-tHvUcUQYi35zApvAa5TNR3fNhBQkVtkmWKfacnpxmix4/VTGz1lGjIVyLMp7gLgAvg+aKJjnVKokXJNS5GZ+/g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>


      <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
      <script src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"></script>
      <script src="https://unpkg.com/embla-carousel-class-names/embla-carousel-class-names.umd.js"></script>


      <script type="application/json" data-ajax-cart-initial-state>
        {{ cart | json }}
      </script>

      <script type="module">
        import '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';
      </script>
    
	{{ shop.metafields.loox["global_html_body"] }}
</body>
  
	{{ shop.metafields.loox["global_html_head"] }}
</head>
</html>