{{ 'product.css' | asset_url | stylesheet_tag }}

<script>
  window.discountStrings = {{product.metafields.custom.discount_data.value  }}
</script>
{% assign product_price = product.price %}

{% assign test = 5 %}
<div class="product container">
  <div class="product__header">
    <a class="product__to-home" href="/">X</a>
  </div>
  <div class="product__grid">
    {% comment %} <div class="product__media"> {% endcomment %}
    <div class="embla">
      <div class="embla__viewport ">
        <div class="embla__container">
          {% for variant in product.variants %}

            {% if variant.metafields.custom.variant_images %}
              {% assign carouselImage = variant.metafields.custom.variant_images.value | first | image_url %}
            {% elsif variant.metafields.custom.product_image %}
              {% assign carouselImage = variant.metafields.custom.product_image.value | image_url %}
            {% else %}
              {% assign carouselImage = variant.featured_media.src %}
            {% endif %}

            <div class="embla__slide">
              <div class="embla__slide__inner">
                <img
                  class="product__image"
                  src="{{ carouselImage }}"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="{{ variant.featured_media.alt | escape }}">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>



    {% unless product.has_only_default_variant %}
      <fieldset class="variant-picker">
        <span class="discount-message">
          <p class="discount-message__text">
            One tube, sixty sprays, $3.99.
            Select a four-pack of your favorite flavor:
          </p>
        </span>


        {% for variant in product.variants %}
          {% for item in cart.items %}
            {% if variant.id == item.id %}
              {% assign cart_item_quantity = item.quantity %}
            {% endif %}
          {% endfor %}
          {% if cart_item_quantity == null %}
            {% assign cart_item_quantity = 0 %}
          {% endif %}
          <div
            class="variant"
            data-id="{{ variant.id }}"
            data-quantity="{{ cart_item_quantity }}"
            id="{{ variant.title | handle }}">
            <button
              data-id="{{ variant.id }}"
              data-action="subtract"
              class="variant__button variant__button--subtract">{% render "icon-minus" %}</button>
            <span class="variant__content">
              <h3 class="variant__title">{{ variant.title }}</h3>

              <p class="variant__quantity">
                {{ cart_item_quantity }}
              </p>
            </span>
            <button
              data-id="{{ variant.id }}"
              data-action="add"
              class="variant__button variant__button--add">{% render "icon-plus" %}</button>
          </div>
          {% assign cart_item_quantity = null %}
        {% endfor %}



        <label for="{{ variant.title }}"></label>
        <div class="product__info" data-ajax-cart-section>

          {% assign discount_size = cart.discount_applications | size %}
          {% assign og_individual_price = 400 %}
          {% assign og_serving_price = og_individual_price | divided_by: 10 %}
          {% if discount_size == 0 %}
            {% assign individual_price = og_individual_price %}
            {% assign serving_price = og_serving_price %}
          {% else %}
            {% assign product_count = 0 %}
            {% assign product_total = 0 %}

            {% for item in cart.items %}
              {% assign title = item.product.title | downcase %}
              {% if title contains "pzaz" %}
                {% assign product_count = product_count | plus: item.quantity %}
                {% assign product_total = product_total | plus: item.final_line_price %}
              {% endif %}
            {% endfor %}
            {% assign individual_count = product_count | times: 4 %}
            {% assign individual_price = product_total | divided_by: individual_count %}
            {% assign serving_price = individual_price | divided_by: 10 %}
          {% endif %}
          <p>
            {% if discount_size > 0 %}
              <span>
                {{ og_individual_price | money }}
              </span>
            {% endif %}
            {{ individual_price | money }}
            per tube
          </p>
          <p>
            {% if discount_size > 0 %}
              <span>
                {{ og_serving_price | money }}
              </span>
            {% endif %}
            {{ serving_price | money }}
            per serving
          </p>
          <p>
            Contains natural caffeine, electrolytes, vitamins and minerals.
          </p>
          {% comment %} <p>
          Free fast shipping unlocked.
          </p> {% endcomment %}


        </div>
        <button type="submit" class="product__submit">
          Check Out
        </button>
      </fieldset>
      {% comment %} {% endfor %} {% endcomment %}
    {% endunless %}
    {% comment %} {% endcase %} {% endcomment %}


    <div class="product__accordion">
      <div class="accordion-item">
        <div class="accordion-item__toggle">
          <h3 class="accordion-item__title">Ingredients and Nutritional Facts</h3>
          <span class="accordion-item__icon">+</span>
        </div>
        <div class="accordion-item__body">
          <div class="accordion-ingredients">
            <h4 class="accordion-ingredients__heading">Supplement Facts</h4>
            <p class="accordion-ingredients__subheading">Serving Size: 10 Mists (1ml)</p>
            <span class="accordion-ingredients__items">
              <p class="accordion-ingredients__item">Calories: 0</p>
              <p class="accordion-ingredients__item">Carbs: 0g</p>
              <p class="accordion-ingredients__item">Fat: 0g</p>
              <p class="accordion-ingredients__item">Sugar: 0g</p>
            </span>
            <h4 class="accordion-ingredients__heading">ON-THE-GO ENERGY BURST:</h4>
            <span class="accordion-ingredients__items">
              <p class="accordion-ingredients__item">Natural Caffeine:
                <span>24mg</span>
              </p>
              <p class="accordion-ingredients__item">Vitamin B12:
                <span>10mcg</span>
              </p>
              <p class="accordion-ingredients__item">Vitamin C:
                <span>7mg</span>
              </p>
              <p class="accordion-ingredients__item">Electrolytes:
                <span>6mg</span>
              </p>
              <p class="accordion-ingredients__item">Zinc:
                <span>5mg</span>
              </p>
            </span>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item__toggle">
          <h3 class="accordion-item__title">The Science</h3>
          <span class="accordion-item__icon">+</span>
        </div>
        <div class="accordion-item__body">
          <ul class="accordion-science">
            <li class="accordion-science__item">
              <div class="accordion-science__icon">
                <span>
                  {% render 'icon-lightning' %}
                </span>
              </div>
              <div class="accordion-science__body">
                <h4 class="accordion-science__heading">Fast Acting</h4>
                <p class="accordion-science__text">Maximum bioavailability means you feel the power faster with no crash.</p>
              </div>
            </li>
            <li class="accordion-science__item">
              <div class="accordion-science__icon">
                <span>
                  {% render 'icon-star' %}
                </span>
              </div>
              <div class="accordion-science__body">
                <h4 class="accordion-science__heading">Personalized Power</h4>
                <p class="accordion-science__text">3 sprays or 30? Choose your own level of energy throughout the day.</p>
              </div>
            </li>
            <li class="accordion-science__item">
              <div class="accordion-science__icon">
                <span>
                  {% render 'icon-heart' %}
                </span>
              </div>
              <div class="accordion-science__body">
                <h4 class="accordion-science__heading">HEALTHY + CLEAN</h4>
                <p class="accordion-science__text">0 calories, natural flavors, sugar free, vegan, and made in the USA.</p>
              </div>
            </li>
            <li class="accordion-science__item">
              <div class="accordion-science__icon">
                <span>
                  {% render 'icon-money' %}
                </span>
              </div>
              <div class="accordion-science__body">
                <h4 class="accordion-science__heading">AFFORDABLE</h4>
                <p class="accordion-science__text">Days of energy in every bottle at less than 40 cents per serving.</p>
              </div>
            </li>
            <li class="accordion-science__item">
              <div class="accordion-science__icon">
                <span>
                  {% render 'icon-plus-depth' %}
                </span>
              </div>
              <div class="accordion-science__body">
                <h4 class="accordion-science__heading">ULTRA DELICIOUS</h4>
                <p class="accordion-science__text">Caffeine is bitter. We masked it completely.</p>
              </div>
            </li>
            <li class="accordion-science__item">
              <div class="accordion-science__icon">
                <span>
                  {% render 'icon-earth' %}
                </span>
              </div>
              <div class="accordion-science__body">
                <h4 class="accordion-science__heading">SUSTAINABLE</h4>
                <p class="accordion-science__text">Less water, plastic, and carbon emissions than any bottled coffee or energy drink.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item__toggle">
          <h3 class="accordion-item__title">Reviews</h3>
          <span class="accordion-item__icon">+</span>
        </div>
        <div class="accordion-item__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsa amet distinctio nihil, doloribus odit quibusdam illum neque. Corporis natus non aperiam distinctio sint doloremque atque nihil nemo quasi commodi.
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item__toggle">
          <h3 class="accordion-item__title">Sustainability</h3>
          <span class="accordion-item__icon">+</span>
        </div>
        <div class="accordion-item__body">

          <p class="accordion-sustainability__copy">Energy drinks, coffees, and sodas cause a lot of litter.  Pzaz is committed to being the most sustainable way to wake up:</p>
          <ul class="accordion-sustainability__list">
            <li class="accordion-sustainability__list-item">Every bottle of Pzaz uses 90% less plastic and materials than an equivalent number of energy drinks.<span>{% render 'icon-earth' %}</span>
            </li>
            <li class="accordion-sustainability__list-item">We manufacture every bottle of Pzaz in the United States with repurposed post-consumer recycled plastic.<span>{% render 'icon-lightning' %}</span>
            </li>
            <li class="accordion-sustainability__list-item">We recover, remove, and recycle litter around the world to offset 200% of our impact on the environment.<span>{% render 'icon-star' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% for block in section.blocks %}
      {% case block.type %}
        {% when '@app' %}
        {% render block %}
      {% endcase %}
    {% endfor %}

    <script type="application/json">
      {{ product.variants | json }}
    </script>
  </div>
</div>



<script src={{ "product.js" | asset_url }} defer="defer"></script>


{% schema %}
  {
    "name": "product",
    "tag": "section",
    "class": "section bg-light",
    "blocks": [
      {
        "type": "@app"
      }, {
        "type": "buy_buttons",
        "name": "t:sections.main-product.blocks.buy_buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "default": true,
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
          }
        ]
      }
    ]
  }
{% endschema %}