{{ 'product.css' | asset_url | stylesheet_tag }}

{% assign global_product = product %}
<div
  class="product__header">
  <a
    class="product__to-home"
    href="/">{% render "icon-home" %}</a>
</div>
<div
  class="product__container">

  <div
    class="product__media">
    <div
      class="product__carousel embla">
      <div
        class="embla__container">
        {% for variant in product.variants %}
          {%-liquid
    if variant.title contains "Mint" 
    assign carouselImage = "https://cdn.shopify.com/s/files/1/0685/9076/4328/files/blue_campaign.jpg?v=1671571360"  
    elsif variant.title contains "Berry" 
    assign carouselImage = "https://cdn.shopify.com/s/files/1/0685/9076/4328/files/red_campaign.jpg?v=1671571361"  
    elsif variant.title contains "Strong" 
    assign carouselImage = "https://cdn.shopify.com/s/files/1/0685/9076/4328/files/black_campaign.jpg?v=1671571347"  
    elsif variant.title contains "Sour" 
    assign carouselImage  = "https://cdn.shopify.com/s/files/1/0685/9076/4328/files/green_campaign.jpg?v=1671571360"  
    endif 
    -%}
          <div
            class="embla__slide">
            <div
              class="embla__slide__inner">
              <img
                class="product__image"
                src="{{ carouselImage }}"
                width="100"
                height="100"
                loading="lazy"
                alt="{{ variant.featured_media.alt | escape }}">
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div
    class="product__accordion">
    <div
      class="accordion-item">
      <div
        class="accordion-item__toggle">
        <h3
          class="accordion-item__title">Ingredients and Nutritional Facts</h3>
        <span
          class="accordion-item__icon">+</span>
      </div>
      <div
        class="accordion-item__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsa amet distinctio nihil, doloribus odit quibusdam illum neque. Corporis natus non aperiam distinctio sint doloremque atque nihil nemo quasi commodi.
      </div>
    </div>
    <div
      class="accordion-item">
      <div
        class="accordion-item__toggle">
        <h3
          class="accordion-item__title">The Science</h3>
        <span
          class="accordion-item__icon">+</span>
      </div>
      <div
        class="accordion-item__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsa amet distinctio nihil, doloribus odit quibusdam illum neque. Corporis natus non aperiam distinctio sint doloremque atque nihil nemo quasi commodi.
      </div>
    </div>
    <div
      class="accordion-item">
      <div
        class="accordion-item__toggle">
        <h3
          class="accordion-item__title">Reviews</h3>
        <span
          class="accordion-item__icon">+</span>
      </div>
      <div
        class="accordion-item__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsa amet distinctio nihil, doloribus odit quibusdam illum neque. Corporis natus non aperiam distinctio sint doloremque atque nihil nemo quasi commodi.
      </div>
    </div>
    <div
      class="accordion-item">
      <div
        class="accordion-item__toggle">
        <h3
          class="accordion-item__title">Sustainability</h3>
        <span
          class="accordion-item__icon">+</span>
      </div>
      <div
        class="accordion-item__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsa amet distinctio nihil, doloribus odit quibusdam illum neque. Corporis natus non aperiam distinctio sint doloremque atque nihil nemo quasi commodi.
      </div>
    </div>
  </div>


  {% unless product.has_only_default_variant %}
    <fieldset
      class="variant-picker">
      <span
        class="discount-message">
        <p
          class="discount-message__text">
          One tube, sixty sprays, $3.99.
          Select a four-pack of your favorite flavor:
        </p>
      </span>
      {% for variant in product.variants %}
        {% for item in cart.items %}
          {% if variant.id == item.id %}
            {% assign cart_item_quantity = item.quantity %}
          {% endif %}
        {% endfor %}
        {% if cart_item_quantity == null %}
          {% assign cart_item_quantity = 0 %}
        {% endif %}
        <div
          class="variant"
          data-id="{{ variant.id }}"
          data-quantity="{{ cart_item_quantity }}"
          id="{{ variant.title | handle }}">
          <button
            data-id="{{ variant.id }}"
            data-action="subtract"
            class="variant__button variant__button--subtract">{% render "icon-minus" %}</button>
          <span
            class="variant__content">
            <h3
              class="variant__title">{{ variant.title }}</h3>

            <p
              class="variant__quantity">
              {{ cart_item_quantity }}
            </p>
          </span>
          <button
            data-id="{{ variant.id }}"
            data-action="add"
            class="variant__button variant__button--add">{% render "icon-plus" %}</button>
        </div>
        {% assign cart_item_quantity = null %}
      {% endfor %}
      <label
        for="{{ variant.title }}"></label>
      <p
        class="product__info"
        data-ajax-cart-section>$3.99 per tube – 40¢ per serving.
        Contains natural caffeine, electrolytes, vitamins and minerals. Free fast shipping unlocked.</p>
      <button
        type="submit"
        class="product__submit">
        Check Out
      </button>
    </fieldset>
  {% endunless %}


  <script
    type="application/json">
    {{ product.variants | json }}
  </script>
</div>



<script
  src={{ "product.js" | asset_url }}
  defer="defer"></script>



{% schema %}
  {
    "name": "product",
    "tag": "section",
    "class": "section bg-light",
    "blocks": [
      {
        "type": "@app"
      }, {
        "type": "buy_buttons",
        "name": "t:sections.main-product.blocks.buy_buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "default": true,
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
          }
        ]
      }
    ]
  }
{% endschema %}